<mat-toolbar color="primary">
  <button mat-button class="sidenav-toggle" (click)="toggleSidenav.emit()">
    <mat-icon class="mat-icon">menu</mat-icon>
  </button>
  <span>Customer Manager</span>

  <span class="fill-remaining-space"></span>

  <button mat-icon-button (click)="openEditCustomerDilog()">
    <mat-icon>edit</mat-icon>
  </button>
  <button mat-icon-button (click)="openDeleteCustomerSnackBar()">
    <mat-icon>delete</mat-icon>
  </button>
  <button mat-icon-button (click)="openDeleteCustomerDialog()">
    <mat-icon>delete_forever</mat-icon>
  </button>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="openAddCustomerDialog()">New Customer</button>
  </mat-menu>

</mat-toolbar>