<!--
<pre>
  {{invoices | json}}
</pre>
-->
<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>
<button mat-icon-button color="primary">
  <mat-icon aria-label="Add Invoice">add</mat-icon> add new
</button>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

  <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
 
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Invoice </th>
    <td mat-cell *matCellDef="let invoice">
      <button mat-icon-button matTooltip="Details {{invoice.id}}" [routerLink]="['/invoicemanager',invoice.id]">
        <mat-icon>infomation</mat-icon>
      </button>
      {{invoice.id}}
    </td>
  </ng-container>

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
    <td mat-cell *matCellDef="let invoice"> {{invoice.invoiceDescription}} </td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Revision Date </th>
    <td mat-cell *matCellDef="let invoice"> {{invoice.revision1Date | date: 'yyyy-MM-dd'}} </td>
  </ng-container>

  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount </th>
    <td mat-cell *matCellDef="let invoice"> {{invoice.totalEquipment | currency: USD }} (Equipment) </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[2, 5, 10, 20]" showFirstLastButtons></mat-paginator>