<mat-toolbar color="primary" [class.mat-elevation-z4]="true">

    <app-back></app-back>

    <button mat-button [routerLink]="['']">{{title}}</button>
    <!--
    <button mat-icon-button matTooltip="Contact Manager" [routerLink]="['/contactmanager']">
        <mat-icon>person</mat-icon>
    </button>
    -->
    <button mat-icon-button matTooltip="Customer Manager" [routerLink]="['/customermanager']">
        <mat-icon>people_outine</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Invoice Manager" [routerLink]="['/invoicemanager']">
        <mat-icon>account_balance</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Invoice-Product Manager" [routerLink]="['/invoiceproductmanager']">
        <mat-icon>shop</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Product Manager" [routerLink]="['/productmanager']">
        <mat-icon>local_mall</mat-icon>
    </button>
    <!-- This fills the remaining space of the current row -->
    <span class="fill-remaining-space"></span>
    <button mat-button>
        <mat-icon>input</mat-icon> login
    </button>
</mat-toolbar>

<router-outlet></router-outlet>